body{
	background-position: top left;
	background-image: url("https://fr.cdn.v5.futura-sciences.com/buildsv6/images/wide1920/2/d/e/2de0a0bfc6_125296_1506-3.jpg");
	background-repeat: repeat-y;
	background-attachment: fixed;
	background-size : 100%;
}
table{
	width: 100%;
	height: 100%;
}
td, th{
	text-align: center;
	position: relative;
	border: 3px solid white;
}
.vide{
	border: none;
}
.orange{
	background-color: rgb(219, 140, 22);
}
.blue{
	background-color: rgb(71, 177, 219);
}
.green{
	background-color: green;
}
.yellow{
	background-color: rgb(230, 200, 0);
}
.red{
	background-color: rgb(190, 20, 20);
}
.violetb{
	background-color: rgb(62, 56, 158);
}
.violet{
	background-color: rgb(88, 41, 124);
}
.cacadoi{
	background-color: rgb(54, 95, 0);
}
.pink{
	background-color: rgb(248, 118, 140);
}
h2{
	margin: 0;
	font-size: 1vw;
}
td {
	color: white;
}

.numtop{
	position: absolute;
	text-align: right;
	margin: 0;
	top: 0;
	right: 0;
	margin-right: 4px;
}
.numbot{
	position: absolute;
	text-align: left;
	margin: 0;
	bottom: 0;
}
td p{
	font-size: 1vw;
}
